<% if @article.errors.any? %>
	<ul>
	<% @article.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @article do |article| %>
	<p>
	<%= article.label :title %> <br/>
	<%= article.text_field :title %>
	</p>

	<p>
	<%= article.label :description%> <br/>
	<%= article.text_area :description %>
	</p>

	<p>
	<%= article.submit%>
	</p>



<%end%>

<%= link_to "Back to articles", articles_path%>